doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        span(style='font-size: 1.1rem;') #{message}
        br
        br
        span(style='font-size: 1rem;') Greetings From, 
        br
        span(style='font-size: 1rem ;font-weight: bold;') Team Jobbers
        br
        img(src='https://sdp3jobber.s3.ap-south-1.amazonaws.com/SignUp.png' height='100px' width='100px' alt='JOBBERS')
